<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link ref="stylesheet" href="static/css/fontawesome.css">
</head>
<body>
{{template "content" .}}
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/jquery-validation-1.19.0/dist/jquery.validate.js"></script>
<script src="/static/js/jquery.form.min.js"></script>
{{template "script" .}}
</body>
</html>